@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arimo, Helvetica, Arial, sans-serif;
}

.come-up {
  animation: 0.25s come-up;
}

@keyframes come-up {
  from {
    transform: scale(0.99);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.bg-bevel {
  background: #252423 linear-gradient(to bottom, #454443, #151413);
}

.bg-emboss {
  background: #252423 linear-gradient(to bottom, #151413, #292827);
}

.bg-glossy {
  background: #252423
    linear-gradient(
      to bottom,
      #353433 0%,
      #252423 50%,
      #151413 50%,
      #252423 100%
    );
}
