.env
.cache
node_modules
/automatron.js
/automatron.js.map
/dist/
*.gz
webpack.stats.json
*.env

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

# Heft
.heft
*.local